{% extends 'base.html' %}

{% block title %}Meu Perfil - Casa de Apostas{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card bg-dark border-secondary">
                <div class="card-header bg-dark border-secondary">
                    <h4 class="text-white mb-0"><i class="bi bi-person-circle"></i> Meu Perfil</h4>
                </div>
                <div class="card-body p-4">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">Nome</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">Sobrenome</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-light">E-mail</label>
                            {{ form.email }}
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">CPF</label>
                                {{ form.cpf }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">Telefone</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">Data de Nascimento</label>
                                {{ form.date_of_birth }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label text-light">Avatar</label>
                                {{ form.avatar }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">
                            <i class="bi bi-check-circle"></i> Salvar Perfil
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
